[Unit]
After=network.target
Description=KinoHouse Bot

[Service]
Type=simple
WorkingDirectory=/root/TG-BOTS/KinoHouse
ExecStart=/root/TG-BOTS/KinoHouse/env/bin/python3.10 app.py
Restart=always

[Install]
WantedBy=multi-user.target
