[Unit]
After=network.target
Description=TarjimaKinolar Bot

[Service]
Type=simple
WorkingDirectory=/root/TG-BOTS/TarjimaKinolar
ExecStart=/root/TG-BOTS/TarjimaKinolar/env/bin/python3.10 app.py
Restart=always

[Install]
WantedBy=multi-user.target